<div class="Boxers">
    <h4>elige tu luchador</h4>
    <p>Conoce los detalles de cada boxeador</p>

<span><img src="/Proximamente.webp" alt=""></span>

</div>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.Boxers {
    margin: 6rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
color: rgb(255, 255, 255);
text-align: center;
}

.Boxers h4 {
    font-size: clamp(2rem, 3vw, 2.5rem);
 font-family: 'Road_Reyes';
    font-weight: bold;
    margin-bottom: 1.7rem;
    
}
.Boxers p {
    font-size: clamp(.9em, 2vw, 1.3rem);
    text-align: center;
    width: 90%;
    color: #fff;
    padding: 0rem 1rem;
}

.Boxers img{
    margin: 9rem 0rem;
    width: 100%;
    max-width: 700px;
    height: auto;
}
</style>