<div class="direct">
  <div class="line">
    <img id="yout" src="/Icons/youtube_COLOR.webp" alt="">
     <img src="/line.png" alt="">
   <span>EN DIRECTO</span>
   <a href="https://www.youtube.com/@ReyesdelRing1992">YOUTUBE/REYESDELRING</a>
     <img src="/line.png" alt="">


  </div>
</div>

<style>
  .direct{
    position: relative;
  }
  
  .line {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

  .line span {
    color: #fff;
    font-size: clamp(1rem, 2vw, 3rem);
    font-family: 'Road_Reyes';
rotate: -10deg;
  }

  .line a {
    color: #fff;
    font-size: clamp(1.4rem, 3.6vw, 6rem);
    font-weight: 700;
    text-decoration: none;
  
  }


  .line img {
    
    max-width: 500px;
    width: 100% ;
    margin:2rem  auto;
  }
  #yout {
    width: 70px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 05px;
    transform: translateX(-50%);
    
    
    margin: 0rem;
  }
</style>