<div class="container">
  <div class="tod_1" data-aos="fade-down">
    <div class="bloq_1"  > 
      <nav>
        <ul>
          <li>​EDICION 2026</li>

          <li>COMBATES</li>
        </ul>
      </nav>
      <img src="line.png" alt="" />
    </div>

    <div class="bloq_center">
      <img src="logo.webp" alt="" />
    </div>

    <div class="bloq_1">
      <nav>
        <ul>
          <li>PATROCINADORES</li>

          <li>​LUCHADORES</li>
        </ul>
      </nav>
      <img src="line.png" alt="" />
    </div>
  </div>

  <div class="conjunt">
   <a href="https://www.youtube.com/@ReyesdelRing1992"><span> <u>@ReyesdelRing</u></span></a> 
    <!-- <img data-aos="zoom-in-up" src="/rey.webp" alt="" /> -->
     <h1>REYES DEL <br> RING</h1>
    <p data-aos="zoom-in-up">
    <span>28 DE MARZO · 17:30 CST</span><br> <br>
    EVENTO DE BOXEO EN VIVO <br>
    <img src="/Icons/map.webp" alt="">GIMNASIO MUNICIPAL SABINAS COAHUILA <br>
    </p>

    <div class="buts" data-aos="zoom-in-up">
      <button>ENTRADAS (Proximamente)</button>
    </div>
  </div>
</div>



<style>
  nav ul {
    padding: 0rem;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: center;

    gap: 5rem;
  }

  nav ul li {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .bloq_center img {
    width: clamp(5rem, 13vw, 23rem); /* Logo con tamaño responsivo */
  }

  .bloq_1 img {
    height: 6px;
    width: 100%;
    padding-top: 1rem;

  }

  .conjunt h1{
    color: #fff;
    font-size: clamp(3.5rem, 9vw, 20rem);
    text-align: center;
     font-family: 'Road_Reyes';
     font-weight: 200;
    line-height: 1;
   display: flex;
   
   margin: 1rem 0rem 3rem 0rem;

  }

  .conjunt a {
    color: #fff;
    font-size: clamp(1.1rem, 2vw, 1.7rem);
    text-align: center;
    rotate: -6deg;
    margin-bottom: .6rem;
   font-family: 'Road_Reyes';
    text-decoration: none;
  }

  .bloq_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0rem 0rem 0rem;
  }

  .tod_1 {
    display: flex;
    margin: auto;
    width: 100%;
  }

  /* -----------Letrero---------- */

  .conjunt {
    width: 100%;
    margin: 3rem 0rem 0rem 0rem;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .conjunt img {
    width: clamp(20rem, 50vw, 50rem); /* Logo con tamaño responsivo */
    height: auto;
    
  }

.conjunt p span {
    color: #fff;
    font-size: clamp(1.4rem, 2.9vw, 2.6rem);
   font-weight: 700;
   margin: 1rem auto;
  }

  .conjunt p {
    color: #fff;
    font-size: clamp(0.8rem, 1.8vw, 1.1rem);
    text-align: center;

  }

  .conjunt p img {
    width: 1rem;
    height: auto;
    margin-right: .5rem;
    filter: invert(1);
  }

  /* Buttons */

   button {
   width: 18rem;
    border-radius: 0.5rem;
    border: #ffffff00 solid 0px;
    font-weight: 700;
    font-size: clamp(1rem, 1.2vw, 1.3rem);
    margin: 0rem 0.8rem;
    padding: .8rem 0rem;
  }

  /* .buts #but1 {
    background: #ca0b0b00;
    border: #ffffff solid 2px;
    color: #fff;
  } */

  @media screen and (max-width: 768px) {
    nav ul li {
      display: none;
    }
  }

  @media screen and (max-height: 768px) {
    .buts button {
      padding: 0.8rem 1.5rem;
}
     h1 {
      padding: 0.5rem;
      margin: 1rem 0rem 2rem 0rem;
    }
  }
</style>
