---

---

<section id="Entradas">
  <div class="asl">
    <h3>Entradas</h3>
    <p>
      ¡No te pierdas la oportunidad de ser parte de esta experiencia única!
      Compra tus entradas ahora y asegura tu lugar en este evento épico de
      boxeo. ¡Te esperamos para vivir juntos la emoción del ring!
    </p>
  </div>

  <div class="ENT">
    <div class="inf">
      <h4>CONSIGUE TUS ENTRADAS HOY MISMO <br> ! SOLO EN KRAKEN CROSFIT !</h4>
      <p>Tel: 861 160 2021</p>
      <p>Dirección: Guillermo Corona 122, 21 de Marzo, 26719 Sabinas, Coah.</p>

      <a href="tel:861 160 2021"> <b>Comprar Entradas</b> </a>
    </div>
    <div class="imf">
      <img src="/kraken.avif" alt="Imagen de Entradas" />
    </div>
  </div>
</section>

<style>
  section {
    text-align: center;
    padding: 0rem 0rem 9rem;
  }
  .asl {
    text-align: center;
    color: #fff;
  }

  .asl h3 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: "Road_Reyes";
    margin: 1rem 0;
    font-weight: 100;
  }

  .asl p {
    font-size: clamp(1rem, 2vw, 1rem);
    padding: 0rem 1rem;
    max-width: 50rem;
    margin: 1rem auto 3rem;
    color: #ffffff82;
  }

  .ENT {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    align-items: center;
   
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0);
    padding: 2rem;
    border-radius: 10px;
    border: #ffffff3f 0.1px solid;
  }

  .inf {  
    color: #fff;
  }

  .inf h4 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);

    margin: 0;
  }

  .inf p {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    margin-bottom: 0.5rem;
  }

  .inf a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
  }

  .imf img {
    width: clamp(15rem, 30vw, 30rem);
    height: auto;
    border-radius: 10px;
  }


@media screen and (max-width: 768px) {
    .ENT{
         flex-direction: column;
     margin: 10px;
    }

    .imf img {
      width: 100%;
      max-width: 500px;
    }
}

</style>
