<div class="Prevwie">
  <h3>REYES DEL RING</h3>
  <p>
    Revive un poco de lo que vivio en la pelea de box mas iconica de Sabinas
    Coahuila. Entre gritos y Gloria una noche inolvidable
  </p>
  <video src="video_pelea.mp4"  controls></video>
</div>

<style>
  .Prevwie{
    
    color: #fff;
    text-align: center;
  }

.Prevwie h3{
    font-size: 3.5rem;
  margin: .9rem 0rem;
}

.Prevwie p{
    width: 40%;
    margin: auto;
}

video{
margin: 2rem 0rem ;
  height: 90vh;
  border-radius: 1rem;
}

</style>
