<div class="Proximamente">
   <h2>PROXIMAMENTE</h2>
</div>

<style>
    h2{
        font-size: 7.8rem;
        text-align: center;
        color: #fff;
           }

           .Proximamente{
            margin: 20rem auto;
           }
</style>