---

---

<div class="container">
  <nav> 
    <ul>
      <li><u>POXIMAMENTE</u> </li>
      <li><u>COMBATES</u> </li>

      <img src="logo.png" alt="" />

      <li><u>PATROCINADORES</u> </li>
      <li><u>EDICION 2026</u></li>
    </ul>
  </nav>

  <div class="conjunt">
     <img src="Letrero.png" alt=""> 
     <p>"La Batalla del Kraken. Combates épicos organizados por Kraken Cross Training." </p>
  </div>
</div>

<style>
 

  nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
  }

  nav ul li {
    color: #fff;
    font-size: 1rem;
    
  }

  nav img {
    width: 10rem;
  }

/* -----------Letrero---------- */

.conjunt{
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.conjunt p{
 color: #fff;
  font-size: 1.3rem;
  text-align: center;
}









  @media screen and (max-height: 368px) {
  }

  @media screen and (max-width: 768px) {
  }
</style>
